#menu li {
list-style-type:none;
display:inline;	
font-size: 32px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color:white;
margin:0px;
padding:6px;
border-top-color:white;
border-top:solid;
border-bottom-color:white;
border-bottom:solid;


}
#back{
	
	background-image: url(chart.png);
	background-position: center 0%;
	text-align:center;
	background-repeat:no-repeat;
	

	height:95%;
	background-size: 100% 100%;
	background-color: rgba(255,255,255,.5);
}


a:visited{
	text-decoration:none;
	color:white;
	text-align:center;
}
a:active{
	background-color:#253b69;
}


a:link{
	text-decoration:none;
	color:white;
	text-align:center;
	
	color:white;
}

a:hover
{
	text-align:center;
	text-decoration:none;
	color:#6c8ebf;
}
.table {
display: table;   
	
}	



ul#menu li {
	display:inline;
	border-left:solid;
	border-color:white;
	
	
	
	
	margin:0px;
}
#menu {
	margin-left: 0px;
	margin-right:0px;
		
	/*
	background: #gray;
  background: -webkit-linear-gradient(#FF4E50, #F9D423);
  background:    -moz-linear-gradient(#FF4E50, #F9D423);
  background:         linear-gradient(#FF4E50, #F9D423);
  */
  background-color:#253b69;
 
		padding:1px;
		width:100%;
		border-radius:5px;
		text-align:right;
	
}
ul {
	text-align:center;
	width:100%;
	
	
}
.current {
	
	color:#253b69;
	background-color:#253b69;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 48px;
	
  color:white;
  
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  
}
p {
	font-size: 18px;
  background: -webkit-linear-gradient(#73C8A9, #373B44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
article{
	float:right;
}
#title {
	position: 15% 25%;
	
	width:25%;
	position: absolute;
	left:23%;
	height:15%;
	top:27.5%;
	

#stuff {

position:relative;
top:9%;	
}
#last {
	
}
#header {
	font-size:36px;
	 background-color:#253b69;
	 color:white;
	 padding:3px;
	 /*
	 -moz-border-radius: 50px/100px;
	
	-webkit-border-radius: 50px/100px;
	 border-radius:50px/100px;
	 */
	 border-radius:66%;
	}

#bottomright{
float:right;	
color:white;
width:100%;
	
	background-color:#253b69;
	width:40%;
	height:50%;
	display:inline;
	
}
#bottomleft
{
		background-color:#253b69;
	width:40%;
	height:50%;
	display:inline;
	
	float:left;
}
section{
	color:white;
	background-color:#253b69;
	float:left;
	width:50%;
	height:45%;
	margin:0px;
	text-align:center;
}
.list {
	color:white;
	text-align:left;
}
